@{
    ViewBag.Title = "Stok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="btn-group mr-1 mb-1">
                            <button type="button" class="btn btn-success btn-min-width dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yeni Ürün Ekle</button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 41px, 0px);">
                                <a class="dropdown-item" href="@Url.Action("ProductEdit", "Inventory", new { id = 0, productTypeId = 3 })">
                                    <i class="la la-mobile mr-1"></i> Telefon
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ProductEdit", "Inventory", new {id = 0, productTypeId = 4 })">
                                    <i class="la la-tablet mr-1"></i> Tablet
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ProductEdit", "Inventory", new {  id = 0, productTypeId = 5 })">
                                    <i class="la la-clock-o mr-1"></i> Giyilebilir Teknoloji
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ProductEdit", "Inventory", new { id = 0, productTypeId = 6 })">
                                    <i class="la la-headphones mr-1"></i> Aksesuar
                                </a>

                            </div>
                        </div>

                        <p class="card-text">
                            Stoklarınızın türlerine göre adet ve tutar bilgisini aşağıda görebilirsiniz.
                        </p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center align-middle">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>Adet</td>
                                    <td class="text-danger">Alış</td>
                                    <td class="text-success">Satış</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sıfır Cihaz</td>
                                    <td>2</td>
                                    <td class="text-danger">200 ₺</td>
                                    <td class="text-success">500 ₺</td>
                                </tr>
                                <tr>
                                    <td>İkinci El</td>
                                    <td>3</td>
                                    <td class="text-danger">150 ₺</td>
                                    <td class="text-success">300 ₺</td>
                                </tr>
                                <tr>
                                    <td>Temlik</td>
                                    <td>1</td>
                                    <td class="text-danger">100 ₺</td>
                                    <td class="text-success">150 ₺</td>
                                </tr>
                                <tr>
                                    <td>Aksesuar</td>
                                    <td>1</td>
                                    <td class="text-danger">10 ₺</td>
                                    <td class="text-success">100 ₺</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="table-light font-weight-bold">
                                    <th class="text-center">Toplam</th>
                                    <td>7</td>
                                    <td class="text-danger">460 ₺</td>
                                    <td class="text-success">1050 ₺</td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
